.search-bar-container {
    margin: 2rem;
}

.search-bar-input {
    width: auto;
    background-color: #fcfcfc;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    box-shadow: -2px 5px 5px gray;
}

.search-bar-button {
    background-color: #e79d1d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    box-shadow: 0px 5px 5px gray;
}
