#root {
  margin: 0 auto;
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.logo-home{
  margin-top: 1rem;
  margin-left: 1rem;
  width: auto;
  height: 5rem;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.card-layout {
  display: flex; 
  margin-right: 0;
  /* Put a card in the next row when previous cards take all width */
  flex-wrap: wrap;
  justify-content: center;
}
.card-layout__item {
  /* There will be 4 cards per row */
  

  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.paper-recipe{
  
}